* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #003366, #008080);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
  color: white;
}

.navbar-brand {
  color: white !important;
  font-size: 2rem !important;
  font-weight: bold;
}
.navbar-nav .nav-link {
  color: #fffff0;
  transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-nav .nav-link:hover {
  color: #00aced;
  transform: scale(1.05);
}

.navbar-toggler {
  border: 1px solid white !important;
}
.navbar-toggler-icon {
  mix-blend-mode: color-burn;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.custom-logo {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  display: inline-block;
}

.description {
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: #ddd;
  text-align: center;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 85%;
}

.Input {
  padding: 15px;
  flex: 1;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}
#passwordInput {
  display: none;
}

#submitBtn {
  padding: 15px 30px;
  border-radius: 0 25px 25px 0;
  border: none;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #218838;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin:10px auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width:100%;
  text-align: center;
}

.breach-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 20px;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.breach-container img {
  width: 80px;
  height: auto;
  border-radius: 5px;
}

.breach-details {
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}

.breach-details h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.breach-details p {
  font-size: 1rem;
  margin-bottom: 8px;
}

.breach-details p:last-child {
  font-style: italic;
}

.breach-found {
  background: linear-gradient(135deg, #ff7f7f, #ff4c4c);
}

.no-breach {
  background: linear-gradient(135deg, #7fff7f, #4cff4c);
}

.breach-error{
  background: linear-gradient(135deg, #fff700, #ffd700);
}
@media (max-width: 768px) {
  .wrapper {
    padding: 30px;
  }

  .custom-logo {
    font-size: 2.5rem;
    padding: 15px;
  }

  .description {
    font-size: 1rem;
  }

  .Input,
  #submitBtn {
    padding: 12px;
    font-size: 14px;
  }

  #submitBtn {
    padding: 12px 20px;
  }
  .result-wrapper {
    padding: 15px;
  }

  .breach-container img {
    width: 60px;
  }

  .breach-details h3 {
    font-size: 1.5rem;
  }

  .breach-details p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 20px;
  }

  .custom-logo {
    font-size: 2rem;
    padding: 10px;
  }

  .description {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .input-wrapper {
    flex-direction: column;
  }

  .Input,
  #submitBtn {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #submitBtn {
    border-radius: 25px;
    padding: 12px;
  }
  .result-wrapper {
    padding: 10px;
  }

  .breach-container img {
    width: 50px;
  }

  .breach-details h3 {
    font-size: 1.3rem;
  }

  .breach-details p {
    font-size: 0.85rem;
  }
}

/*radio button*/
.container form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.container label input {
  position: absolute;
  left: -9999px;
}

.container label input:checked + span {
  background-color: #003366;
  color: white;
}

.container label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.container label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: black;
}

.container label span:hover {
  background-color: #d6d6e5;
}

.container label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.opt-in-section {
  margin-top: 30px;
}
.opt-in-button,
.opt-out-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  color: #fff;
}

.opt-in-button {
  background-color: #4caf50;
}

.opt-out-button {
  background-color: #f44336;
}

.response-message {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
}

.hidden {
  display: none;
}
